@font-face {
    font-family: "Poppins";
    src: url("../../assets/fonts/Poppins/Poppins-Regular.ttf");
}
@font-face {
    font-family: "Poppins";
    src: url("../../assets/fonts/Poppins/Poppins-Bold.ttf");
    font-weight: bold;
}

@font-face {
    font-family: "SpaceMono";
    src: url("../../assets/fonts/SpaceMono/SpaceMono-Regular.ttf");
}