.button{
    box-sizing: border-box;
    background: $color-primary;
    height: 60px;
    width: 100%;
    color: $color-bg;
    text-decoration: none;
    padding: 10px 24px;
    border-radius: 15px;
    font-size: 18px;
    &-border{
        border: 2px solid $color-secondary;
    }
}
