.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    height: 60px;
    padding: 0px 25px;
    background-color: $color-secondary;
    color: $color-bg;
    p{
        font-size: 20px;
    }
    &-links{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 13em;
        a{
            color: $color-bg;
            text-decoration: none;
            height: 32px;
        }
    }
}