.presentation{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    &-picture{
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        img{
            width: 250px;
            height: 250px;
            border-radius: 50%;
            object-fit: cover;
        }
    }
    &-txt{
        width: 50%;
        &_links{
            
        }
    }
}